@use "@styles/breakpoints";

.meditation {
  .cont {
    padding: 0;
  }

  section {
    padding: 10px 15px 15px;
  }

  .bl-00 {
    padding: 0 15px 15px;
    margin: 0;
  }

  p {
    margin: 0 0 4px;
    text-indent: 10px;
  }

  h3 {
    margin: 5px 0 5px;
    padding: 0;
  }

  .bl-01 {
    background: rgba(155, 218, 255, 0.247) url("@assets/uzor.svg") no-repeat top center;
    background-size: 745px, cover;

    background-position:
      right -72px center,
      0 0;
    background-repeat: no-repeat;
  }

  .location {
    background: #91ffdc40;
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;

    .img-cover {
      width: 100%;
      height: 220px;
      // position: absolute;
      // left: 0;
      // top: 0;
      // z-index: 0;
      overflow: hidden;

      img {
        width: 157%;
        height: 100%;
        object-fit: cover;

        @include breakpoints.tablet {
          width: 100%;
        }
      }
    }

    .inner-cover {
      padding: 0 15px;
      // position: relative;
      // z-index: 1;
      // background: rgb(0 189 103 / 37%);
      // color: #ffffff;
    }

    --shadow-color: #003d13;

    // a.btn-maps {}

    span.icon-location {
      width: 26px;
      height: 35px;
      background-image: url("@/assets/ico-point.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: inline-block;

      // &.yandex-maps {}
      &.google-maps {
        width: 24px;
        background-image: url("@/assets/ico-google-maps.svg");
      }
    }

    a {
      background: url("@assets/btn-bg-t.svg") center top repeat-x,
        url("@assets/btn-bg-b.svg") center bottom repeat-x,
        #f4fffe;
      text-decoration: none;
      display: flex;
      gap: 5px;
      height: 40px;
      align-items: center;
      justify-content: center;

      font-size: 23px;
      color: #bd0000;

      &.google-maps {
        color: #2B85EB;
      }

      // text-shadow: 0px 4px 13px var(--shadow-color);
      // font-weight: bold;
      // text-decoration: underline;
      span {
        // color: #ff0012;
        font-size: 20x;
      }
    }

    .address {
      font-size: 17px;
      text-indent: 0;
      padding: 5px 10px;
      // color: #ffffff;
      // text-shadow: 1px 1px 13px var(--shadow-color);
    }

    .comment {
      font-size: 16px;
      text-indent: 0;
      padding: 10px;
      // color: #ffffff;
      // text-shadow: 1px 1px 13px var(--shadow-color);
    }
  }

  .location2 {
    .inner-cover {
      padding-top: 10px;
    }
  }

  .litte-text {
    padding: 2px 0 5px;
  }

  .bl-03 {
    background: rgb(255 200 187) url("@assets/uzor-2.svg");
    background-size: 313px;
    background-position:
      right -72px center,
      0 0;
  }
}

.time {
  color: rgba(221, 38, 6, 0.8);
  font-weight: 600;
  display: inline-block;
  width: 60px;
  background: #ffffff8f;
  border-radius: 10px;
}

.color-orange {
  color: #c80a18;
}